baz-timeline {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    --track-background-opacity: 0.1;
    --track-fragment-primary-opacity: 0.8;
    --track-fragment-secondary-opacity: 0.5;

    --track-primary-background-fill-style: oklch(var(--p) / var(--track-background-opacity));
    --track-primary-background-stroke-style: oklch(var(--p) / var(--track-background-opacity));
    --track-primary-fragment-primary-fill-style: oklch(var(--p) / var(--track-fragment-primary-opacity));
    --track-primary-fragment-primary-stroke-style: oklch(var(--p) / var(--track-fragment-primary-opacity));
    --track-primary-fragment-secondary-fill-style: oklch(var(--p) / var(--track-fragment-secondary-opacity));
    --track-primary-fragment-secondary-stroke-style: oklch(var(--p) / var(--track-fragment-secondary-opacity));
    
    --track-secondary-background-fill-style: oklch(var(--s) / var(--track-background-opacity));
    --track-secondary-background-stroke-style: oklch(var(--s) / var(--track-background-opacity));
    --track-secondary-fragment-primary-fill-style: oklch(var(--s) / var(--track-fragment-primary-opacity));
    --track-secondary-fragment-primary-stroke-style: oklch(var(--s) / var(--track-fragment-primary-opacity));
    --track-secondary-fragment-secondary-fill-style: oklch(var(--s) / var(--track-fragment-secondary-opacity));
    --track-secondary-fragment-secondary-stroke-style: oklch(var(--s) / var(--track-fragment-secondary-opacity));

    --track-accent-background-fill-style: oklch(var(--a) / var(--track-background-opacity));
    --track-accent-background-stroke-style: oklch(var(--a) / var(--track-background-opacity));
    --track-accent-fragment-primary-fill-style: oklch(var(--a) / var(--track-fragment-primary-opacity));
    --track-accent-fragment-primary-stroke-style: oklch(var(--a) / var(--track-fragment-primary-opacity));
    --track-accent-fragment-secondary-fill-style: oklch(var(--a) / var(--track-fragment-secondary-opacity));
    --track-accent-fragment-secondary-stroke-style: oklch(var(--a) / var(--track-fragment-secondary-opacity));

    --track-info-background-fill-style: oklch(var(--in) / var(--track-background-opacity));
    --track-info-background-stroke-style: oklch(var(--in) / var(--track-background-opacity));
    --track-info-fragment-primary-fill-style: oklch(var(--in) / var(--track-fragment-primary-opacity));
    --track-info-fragment-primary-stroke-style: oklch(var(--in) / var(--track-fragment-primary-opacity));
    --track-info-fragment-secondary-fill-style: oklch(var(--in) / var(--track-fragment-secondary-opacity));
    --track-info-fragment-secondary-stroke-style: oklch(var(--in) / var(--track-fragment-secondary-opacity));

    --track-success-background-fill-style: oklch(var(--su) / var(--track-background-opacity));
    --track-success-background-stroke-style: oklch(var(--su) / var(--track-background-opacity));
    --track-success-fragment-primary-fill-style: oklch(var(--su) / var(--track-fragment-primary-opacity));
    --track-success-fragment-primary-stroke-style: oklch(var(--su) / var(--track-fragment-primary-opacity));
    --track-success-fragment-secondary-fill-style: oklch(var(--su) / var(--track-fragment-secondary-opacity));
    --track-success-fragment-secondary-stroke-style: oklch(var(--su) / var(--track-fragment-secondary-opacity));

    --track-warning-background-fill-style: oklch(var(--wa) / var(--track-background-opacity));
    --track-warning-background-stroke-style: oklch(var(--wa) / var(--track-background-opacity));
    --track-warning-fragment-primary-fill-style: oklch(var(--wa) / var(--track-fragment-primary-opacity));
    --track-warning-fragment-primary-stroke-style: oklch(var(--wa) / var(--track-fragment-primary-opacity));
    --track-warning-fragment-secondary-fill-style: oklch(var(--wa) / var(--track-fragment-secondary-opacity));
    --track-warning-fragment-secondary-stroke-style: oklch(var(--wa) / var(--track-fragment-secondary-opacity));

    --track-error-background-fill-style: oklch(var(--er) / var(--track-background-opacity));
    --track-error-background-stroke-style: oklch(var(--er) / var(--track-background-opacity));
    --track-error-fragment-primary-fill-style: oklch(var(--er) / var(--track-fragment-primary-opacity));
    --track-error-fragment-primary-stroke-style: oklch(var(--er) / var(--track-fragment-primary-opacity));
    --track-error-fragment-secondary-fill-style: oklch(var(--er) / var(--track-fragment-secondary-opacity));
    --track-error-fragment-secondary-stroke-style: oklch(var(--er) / var(--track-fragment-secondary-opacity));

    --header-background-fill-style: oklch(var(--b2));
    --header-background-stroke-style: oklch(var(--p));

    --header-background-outside-fill-style: oklch(var(--b1));
    --header-background-outside-stroke-style: oklch(var(--p) / 0.5);

    --hour-text-fill-style: oklch(var(--bc));
    --hour-text-stroke-style: #0f0;

    --hour-text-outside-fill-style: oklch(var(--bc) / 0.2);
    --hour-text-outside-stroke-style: oklch(var(--bc) / 0.2);

    --hour-line-fill-style: oklch(var(--p) / 0.5);
    --hour-line-stroke-style: oklch(var(--p) / 0.5);

    --hour-line-outside-fill-style: oklch(var(--bc) / 0.1);
    --hour-line-outside-stroke-style: oklch(var(--bc) / 0.1);

    --half-hour-line-fill-style: oklch(var(--p) / 0.3);
    --half-hour-line-stroke-style: oklch(var(--p) / 0.3);

    --half-hour-line-outside-fill-style: oklch(var(--bc) / 0.05);
    --half-hour-line-outside-stroke-style: oklch(var(--bc) / 0.05);    

    --one-sixth-hour-line-fill-style: oklch(var(--p) / 0.1);
    --one-sixth-hour-line-stroke-style: oklch(var(--p) / 0.1);    

    --one-sixth-hour-line-outside-fill-style: oklch(var(--bc) / 0.1);
    --one-sixth-hour-line-outside-stroke-style: oklch(var(--bc) / 0.1);    
}

baz-timeline .baz-timeline-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

baz-timeline .baz-timeline-main-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

baz-timeline .baz-timeline-track-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

baz-timeline .baz-timeline-mouse-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

baz-timeline .baz-timeline-vertical-scroll {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    opacity: 0.5;
    z-index: 20;
}

baz-timeline .baz-timeline-vertical-scroll-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}
