@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, nord, sunset, dracula, retro, cyberpunk, valentine, aqua;
}
@source "../src/**/*.{htm,html,js,ts}";
@source "../index.html";

/* Active navigation link */
.nav-link.active {
    @apply bg-primary text-primary-content;
}